<div class="top-bar">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="social">
          <ul class="social-share">
            <li><a href="https://www.facebook.com/StackRouteOfficial/" target="_blank" title="Facebook Page" class="x1"><i class="fa fa-facebook"></i></a></li>&nbsp;
            <li><a href="https://twitter.com/stack_route?lang=en" target="_blank" title="Twitter Page" class="x1"><i class="fa fa-twitter"></i></a></li>&nbsp;
            <li><a href="https://in.linkedin.com/company/stackroute" target="_blank" title="LinkedIn Page" class="x1"><i class="fa fa-linkedin"></i></a></li>&nbsp;
            <li><a href="https://www.youtube.com/channel/UCGCxQFLLKZHV69lC-7p6eWA" target="_blank" title="LinkedIn Page" class="x1"><i class="fa fa-youtube"></i></a></li>&nbsp;
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!--/.container-->
</div> 
<!--/.top-bar-->

<footer id="footer" class="midnight-blue">
  <div class="container text-center">
    <!-- <div class="row"> -->
      <div>
        <a (click)="login()">{{adminLogin}}</a>
      
      </div>
  
            &copy; 2019 KnowledgeHub
  </div>
</footer>
<!--/#footer-->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="../../assets/footer/js/jquery.js"></script>
<script src="../../assets/footer/js/bootstrap.min.js"></script>
<script src="../../assets/footer/js/jquery.prettyPhoto.js"></script>
<script src="../../assets/footer/js/jquery.isotope.min.js"></script>
<script src="../../assets/footer/js/wow.min.js"></script>
<script src="../../assets/footer/js/main.js"></script>