

<link href="https://fonts.googleapis.com/css?family=Caveat+Brush" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Rancho" rel="stylesheet">
<div class="cards">
  <section class="row" *ngFor="let web of object2">
      <div *ngIf="web.domain=='Spring Framework'">
          <img  class="img" src="../../assets/img/icon-spring-framework.svg">
        </div>
      <div *ngIf="web.domain=='maths'">
          <img class="img" src="../../assets/img/maths.jpg">
        </div>
      <div class="col s12 m9 l10">
        <h1 class="title" style=" text-transform: capitalize;font-family: 'Caveat Brush', cursive;font-size:30px">{{web.domain}}</h1>
        <a href="{{web.link}}" target="_blank"><u>{{web.link}}</u></a>
        <p *ngIf="flag" class="text" style="text-align: justify;font-family: 'Rancho', cursive;font-size:20px;">{{web.description | slice:0:200}}......</p>
        <div *ngIf="web==var1">
            <p style="text-align: justify;font-family: 'Rancho', cursive;font-size:20px;">{{web.description}}</p>
            <p style="text-align: justify;font-family: 'Rancho', cursive;font-size:20px; font-weight: bold">Intent level : {{web.intentLevel}}</p>
            <p style="text-align: justify;font-family: 'Rancho', cursive;font-size:20px; font-weight:bold">Confidence score : {{web.confidenceScore}}</p>
          </div>
          <img class="readmore" src="../../assets/img/readmore.svg" (click)="assignVar(web)">
      </div>
    </section>

</div>