<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Reveal Bootstrap Template</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800|Montserrat:300,400,700" rel="stylesheet">
</head>

<body id="body">

  <main id="main">

    <!--==========================
      About Section
    ============================-->
    <section id="about" class="wow fadeInUp">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 about-img">
            <img src="/assets/img/About_us.jpg" alt="">
          </div>

          <div class="col-lg-6 content">
            <h2>WELCOME TO KNOWLEDGE HUB</h2>
            <h3>A learning website that will provide you information related to various domain.</h3>

            <ul>
              <li><i class="ion-android-checkmark-circle"></i>KnowledgeHub Application makes sense of unstructured data which remain scattered in an organisation. Making sense of such scattered unstructured data and converting them into relevant knowledge is one critical challenge all organisations face.</li>
              <li><i class="ion-android-checkmark-circle"></i>KnowledgeHub is a system that takes unstructured data as input in a wide variety of formats such as Web documents, PDF, PPT, RTF and so on. The system extracts and analyses data from the documents and indexes the data against a rich graph ontology based on relationships.</li>
              <li><i class="ion-android-checkmark-circle"></i> Extracted data are indexed based on metadata and semantics to form a knowledge graph. KnowledgeHub also enables searching the knowledge graph and providing accurate results by comprehending the intent of the user who making a search query.</li>
            </ul>

          </div>
        </div>

      </div>
    </section><!-- #about -->
  </main>

  <!-- JavaScript Libraries -->
  <script src="../../assets/aboutUslib/jquery/jquery.min.js"></script>
  <script src="../../assets/aboutUslib/jquery/jquery-migrate.min.js"></script>
  <script src="../../assets/aboutUslib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../../assets/aboutUslib/easing/easing.min.js"></script>
  <script src="../../assets/aboutUslib/superfish/hoverIntent.js"></script>
  <script src="../../assets/aboutUslib/superfish/superfish.min.js"></script>
  <script src="../../assets/aboutUslib/wow/wow.min.js"></script>
  <script src="../../assets/aboutUslib/owlcarousel/owl.carousel.min.js"></script>
  <script src="../../assets/aboutUslib/magnific-popup/magnific-popup.min.js"></script>
  <script src="../../assets/aboutUslib/sticky/sticky.js"></script>

  <script src="../../assets/aboutjs/main.js"></script>

</body>
</html>
