<!DOCTYPE html>

<html lang="en">
  <app-nab-bar></app-nab-bar>

<head>
  <meta charset="utf-8">
  <title>Reveal Bootstrap Template</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800|Montserrat:300,400,700" rel="stylesheet">
</head>
<body>
 <main>
  <section id="services">
    <div class="container">
      <div class="section-header">
        <h2>Domain Expert Dashboard</h2>
      </div>
  
      <div class="row">
        

        <div class="col-lg-6">
          <div class="box wow fadeInLeft" data-wow-delay="0.2s">
            <div class="icon"><i class="fa fa-upload"></i></div>
            <h4 class="title"><a (click)="uploadFile()">Upload Index File</a></h4>
            <p class="description">Populate neo4j Knowledge with pdf,ppt index files. </p>
          </div>
        </div>
        
        <div class="col-lg-6">
          <div class="box wow fadeInRight">
            <div class="icon"><i class="fa fa-link"></i></div>
            <h4 class="title"><a (click)="addDomainConceptNames()">Index Web Documents</a></h4>
            <p class="description">Populate neo4j knowledge with web documents and links.</p>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="box wow fadeInLeft">
            <div class="icon"><i class="fa fa-database"></i></div>
            <h4 class="title"><a (click)="modifyNeo4j()">Modify Neo4j</a></h4>
            <p class="description">Modify the ontology and intent nodes present in neo4j database.</p>
          </div>
        </div>
        
        <div class="col-lg-6">
          <div class="box wow fadeInRight" data-wow-delay="0.2s">
            <div class="icon"><i class="fa fa-question"></i></div>
            <h4 class="title"><a (click)="showNlpQuestions()">Classify Questions</a></h4>
            <p class="description">Categorization of Questions according to bloom taxonomy.</p>
          </div>
        </div>
  
    
      </div>
    </div>
  </section> 
</main>
  <!-- JavaScript Libraries -->
  <script src="../../assets/conceptsLib/jquery/jquery.min.js"></script>
  <script src="../../assets/conceptsLib/jquery/jquery-migrate.min.js"></script>
  <script src="../../assets/conceptsLib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../../assets/conceptsLib/easing/easing.min.js"></script>
  <script src="../../assets/conceptsLib/superfish/hoverIntent.js"></script>
  <script src="../../assets/conceptsLib/superfish/superfish.min.js"></script>
  <script src="../../assets/conceptsLib/wow/wow.min.js"></script>
  <script src="../../assets/conceptsLib/owlcarousel/owl.carousel.min.js"></script>
  <script src="../../assets/conceptsLib/magnific-popup/magnific-popup.min.js"></script>
  <script src="../../assets/conceptsLib/sticky/sticky.js"></script>

  <!-- Template Main Javascript File -->
  <script src="../../assets/conceptsTs/main.js"></script> 
  <footer><app-footer></app-footer></footer>
</body>
