<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Reveal Bootstrap Template</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800|Montserrat:300,400,700" rel="stylesheet">
</head>
<body>
  <section id="services">
    <div class="container">
      <div class="section-header">
        <h2>Integral Components</h2>
      </div>
  
      <div class="row">
  
        <div class="col-lg-6">
          <div class="box wow fadeInLeft">
            <div class="icon"><i class="fa fa-tree"></i></div>
            <h4 class="title"><a href="">Ontology</a></h4>
            <p class="description">A set of concepts and categories in a subject area or domain that shows their properties and the relations between them.</p>
          </div>
        </div>
  
        <div class="col-lg-6">
          <div class="box wow fadeInRight">
            <div class="icon"><i class="fa fa-database"></i></div>
            <h4 class="title"><a href="">Neo4j</a></h4>
            <p class="description">Neo4j is the world's leading open source Graph Database which is developed using Java technology. It is highly scalable and schema free (NoSQL).</p>
          </div>
        </div>
  
        <div class="col-lg-6">
          <div class="box wow fadeInLeft" data-wow-delay="0.2s">
            <div class="icon"><i class="fa fa-sitemap"></i></div>
            <h4 class="title"><a href="">NLP</a></h4>
            <p class="description">Natural language processing (NLP) is an information engineering concerned with the interactions between computers and human languages.</p>
          </div>
        </div>
  
        <div class="col-lg-6">
          <div class="box wow fadeInRight" data-wow-delay="0.2s">
            <div class="icon"><i class="fa fa-caret-up"></i></div>
            <h4 class="title"><a href="">Bloom's taxonomy</a></h4>
            <p class="description">Bloom's taxonomy is divided into six levels of educational activities: Knowledge, Comprehension, Application, Analysis, Synthesis, Evaluation. </p>
          </div>
        </div>
  
      </div>
    </div>
  </section> 
  
  <!-- JavaScript Libraries -->
  <script src="../../assets/conceptsLib/jquery/jquery.min.js"></script>
  <script src="../../assets/conceptsLib/jquery/jquery-migrate.min.js"></script>
  <script src="../../assets/conceptsLib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../../assets/conceptsLib/easing/easing.min.js"></script>
  <script src="../../assets/conceptsLib/superfish/hoverIntent.js"></script>
  <script src="../../assets/conceptsLib/superfish/superfish.min.js"></script>
  <script src="../../assets/conceptsLib/wow/wow.min.js"></script>
  <script src="../../assets/conceptsLib/owlcarousel/owl.carousel.min.js"></script>
  <script src="../../assets/conceptsLib/magnific-popup/magnific-popup.min.js"></script>
  <script src="../../assets/conceptsLib/sticky/sticky.js"></script>

  <!-- Template Main Javascript File -->
  <script src="../../assets/conceptsTs/main.js"></script> 
</body>